.cart{
  margin-top: 71px;
  .couponCode{
    width: 40%;
    @include media-breakpoint-down(md){
      width: 60%;
    }
    @include media-breakpoint-down(sm){
      width: 95%;
      margin-right: 10px;
    }
  }
  &-bg{
    width: 65px;
    height: 70px;
    background-size: cover;
    background-position: center center;
  }
}

.table thead th{
  border-bottom:0;
}

.cart-list{
  position: relative;
  .badge{
    position: absolute;
    top:7%;
    right:35%;
    @include media-breakpoint-down(sm) {
      top:0%;
      right:3%;
    }
  }
}

.cart-list-product{
  white-space: nowrap; 
  max-width: 120px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  @include media-breakpoint-down(sm) {
    max-width: 70px;
  }
 }

 #qtySelect{
    width:70px;
    border-radius: .2rem;
    padding: 2px 0 6px 14px;
 }