.bg-cover{
    background-position: center center;
    background-size: cover;
}

$font-title:48px;
$font-title-md:39px;
$font-title-sm:30px;
$font-secTitle:39px;
$font-secTitle-md:30px;
$font-secTitle-sm:25px;
$font-text:16px;
$font-text-sm:14px;